.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imgMain{
  border: groove 1em red;
  border-radius: 50%;
  align-items: center;
  justify-content: space-around;
}

.nameMain{
  background-color:#685128 ;
  border-radius: 10%;
  color: white;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.super {
  background-image: url("./logo.png");
  background-position: left 2px top;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.page{
  display: inline-flex;
  width: 70px;
  cursor: pointer;
}
.imgGrid{
  cursor:pointer;
  border: .2rem solid #000;
}
